#content {
  @media only screen and (max-width: 768px) {
    max-width: calc(100vw - 30px);
  }
  p {
    overflow: auto;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    word-wrap: break-word;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: underline;
    color: rgb(190, 128, 190);
  }
  pre {
    code {
      display: block;
      text-wrap: wrap;
      background: #f2f2f2;
      color: black;
    }
  }
  ul {
    li {
      list-style-type: disc;
      margin-left: 1.5rem;
    }
  }
  img {
    display: block;
    max-width: 100%;
    overflow: hidden;
  }
}
